<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookStore</display-name>
      <servlet>  
        <description>This is the description of my J2EE component</description>  
        <display-name>This is the display name of my J2EE component</display-name>  
        <servlet-name>LoginServlet</servlet-name>  
        <servlet-class>servlet.LoginServlet</servlet-class>  
    </servlet>  
     <servlet>  
        <servlet-name>ManagerLoginServlet</servlet-name>  
        <servlet-class>servlet.ManagerLoginServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>RegisterServlet</servlet-name>  
        <servlet-class>servlet.RegisterServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>ManageServlet</servlet-name>  
        <servlet-class>servlet.ManageServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>PersonalServlet</servlet-name>  
        <servlet-class>servlet.PersonalServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>AddressServlet</servlet-name>  
        <servlet-class>servlet.AddressServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>ShoppingcartServlet</servlet-name>  
        <servlet-class>servlet.ShoppingcartServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>BookServlet</servlet-name>  
        <servlet-class>servlet.BookServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>ManagerAddBookServlet</servlet-name>  
        <servlet-class>servlet.ManagerAddBookServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>ManagerDelBookServlet</servlet-name>  
        <servlet-class>servlet.ManagerDelBookServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>ManagerAlterBookServlet</servlet-name>  
        <servlet-class>servlet.ManagerAlterBookServlet</servlet-class>  
    </servlet>
      <servlet>  
        <servlet-name>ManagerKindsServlet</servlet-name>  
        <servlet-class>servlet.ManagerKindsServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>ManagerRecommendServlet</servlet-name>  
        <servlet-class>servlet.ManagerRecommendServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>SearchBookServlet</servlet-name>  
        <servlet-class>servlet.SearchBookServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>ManagerOrderServlet</servlet-name>  
        <servlet-class>servlet.ManagerOrderServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>AlterPasswordServlet</servlet-name>  
        <servlet-class>servlet.AlterPasswordServlet</servlet-class>  
    </servlet>
    <servlet>  
        <servlet-name>ManagerAlterOrderServlet</servlet-name>  
        <servlet-class>servlet.ManagerAlterOrderServlet</servlet-class>  
    </servlet>
     <servlet>  
        <servlet-name>MessageServlet</servlet-name>  
        <servlet-class>servlet.MessageServlet</servlet-class>  
    </servlet>
    
    <servlet-mapping>  
        <servlet-name>LoginServlet</servlet-name>  
        <url-pattern>/Login/LoginServlet</url-pattern>  
    </servlet-mapping>        
    <servlet-mapping>  
        <servlet-name>ManagerLoginServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerLoginServlet</url-pattern>  
    </servlet-mapping> 
    <servlet-mapping>  
        <servlet-name>RegisterServlet</servlet-name>  
        <url-pattern>/Register/RegisterServlet</url-pattern>  
    </servlet-mapping> 
     <servlet-mapping>  
        <servlet-name>ManageServlet</servlet-name>  
        <url-pattern>/Manager_page/ManageServlet</url-pattern>  
    </servlet-mapping> 
     <servlet-mapping>  
        <servlet-name>PersonalServlet</servlet-name>  
        <url-pattern>/Personal_center/PersonalServlet</url-pattern>  
    </servlet-mapping> 
    <servlet-mapping>  
        <servlet-name>AddressServlet</servlet-name>  
        <url-pattern>/Personal_center/AddressServlet</url-pattern>  
    </servlet-mapping> 
    <servlet-mapping>  
        <servlet-name>ShoppingcartServlet</servlet-name>  
        <url-pattern>/Shopping_cart/ShoppingcartServlet</url-pattern>  
    </servlet-mapping> 
    <servlet-mapping>  
        <servlet-name>BookServlet</servlet-name>  
        <url-pattern>/Home_page/BookServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
        <servlet-name>ManagerAddBookServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerAddBookServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
        <servlet-name>ManagerDelBookServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerDelBookServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
        <servlet-name>ManagerAlterBookServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerAlterBookServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
        <servlet-name>ManagerKindsServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerKindsServlet</url-pattern>  
    </servlet-mapping>
     <servlet-mapping>  
        <servlet-name>ManagerRecommendServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerRecommendServlet</url-pattern>  
    </servlet-mapping>
        <servlet-mapping>  
     <servlet-name>SearchBookServlet</servlet-name>  
        <url-pattern>/Home_page/SearchBookServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
     <servlet-name>ManagerOrderServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerOrderServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AlterPasswordServlet</servlet-name>  
        <url-pattern>/Login/AlterPasswordServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ManagerAlterOrderServlet</servlet-name>  
        <url-pattern>/Manager_page/ManagerAlterOrderServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>MessageServlet</servlet-name>  
        <url-pattern>/Message_board/MessageServlet</url-pattern>  
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
